[submodule "Plugin/DataTable"]
	path = Plugin/DataTable
	url = https://github.com/tigrang/cakephp-datatable.git
[submodule "Plugin/CakePtbr"]
	path = Plugin/CakePtbr
	url = https://github.com/jrbasso/cake_ptbr.git
