[submodule "app/Plugin/CakePtbr"]
	path = app/Plugin/CakePtbr
url=https://github.com/movibe/cake_ptbr.git
[submodule "app/Plugin/DebugKit"]
	path = app/Plugin/DebugKit
	url = https://github.com/cakephp/debug_kit.git
[submodule "app/webroot/css/themes"]
	path = app/webroot/css/themes
	url = https://github.com/thomaspark/bootswatch.git
[submodule "app/Plugin/DataTable"]
	path = app/Plugin/DataTable
	url = https://github.com/tigrang/cakephp-datatable.git