[submodule "Plugin/DataTable"]
	path = Plugin/DataTable
	url = https://github.com/tigrang/cakephp-datatable.git
[submodule "Plugin/CakePtbr"]
	path = Plugin/CakePtbr
	url = https://github.com/jrbasso/cake_ptbr.git
[submodule "app/Plugin/CakePtbr"]
	path = app/Plugin/CakePtbr
	url = https://github.com/jrbasso/cake_ptbr.git
[submodule "app/Plugin/DebugKit"]
	path = app/Plugin/DebugKit
	url = https://github.com/cakephp/debug_kit.git
